.titleStatus{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    color: rgb(151, 22, 108);
     
}
.btnStatus{
    padding: 5px;
    background-attachment: fixed;
    /* background-color: rgb(255, 136, 0); */
    /* background-image: url("./Holiday/images/purim/reka5.jpg"); */
    border-radius: 2px,2px,2px,2px;
    height:170px;
    width: 170px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: bold;
    color:black;
    border-radius: 50%;
    flex-wrap: wrap;
    margin: 50px;
    /* padding: 50px; */
    border: 3px solid black;
    margin-right: 150px;
    background-color: rgb(245, 116, 23);

}
.generalStatus{
    margin-right: 270px;

}
.phoo{
    /* margin-left:100px; */
    margin-right: 180px;
}
.btnSetStatus{
    /* padding: 5px; */
    background-attachment: fixed;
    /* background-color: rgb(255, 136, 0); */
    /* background-image: url("./Holiday/images/purim/reka5.jpg"); */
    border-radius: 2px,2px,2px,2px;
    height:50px;
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: bold;
    color:black;
    border-radius: 50%;
    flex-wrap: wrap;
    /* margin: 50px; */
    /* padding: 50px; */
    border: 3px solid black;
    margin-right:30px;
    background-color: rgb(245, 116, 23);  
}