.imgShabbat{
    width:180px;
    height:160px;
    border:5px solid black;
}
.generalDivFamily{
    align-items: center;
    text-align: center
}
.myCenter {
    margin-left: auto;
    margin-right: auto;
  }
  .tableShabbat{
      background-color: lavenderblush;
  }